:root {
    --bgSilver: #fafafa;
    --paleGrey: #f5f6f7;
    --silver: #d6d8da;
    --boldedSilver: #566579;
    --scienceBlue: #0b61d6;
    
    --blue: #039be5;
    --green: #689f38;
    --orange: #ff6d00;
    --red: #f44336;

    --lightBlue: #03a9f4;
    --lightGreen: #8bc34a;
    --lightOrange: #ff9100;
    --lightRed: #ef5350;
}

@font-face {
    font-family: Luciole;
    src: url("../fonts/Luciole-Regular.ttf") format("truetype"),
         url("../fonts/Luciole-Regular.woff2") format("woff");
    font-style: normal;
    font-display: block;
}

*,:after,:before {
    border: 0 solid var(--colors-background-default);
}

body {
    font-family: Luciole;
    overflow-x: hidden;
    padding: 0 var(--body-vertical-padding);
    margin: 0;
    color: var(--colors-text-title);
}

h1 {
    text-align: center;
}

.hidden {
    display: none;
}

body.index #top-bar {
    position: fixed;
    width: calc(100vw - 2 *var(--body-vertical-padding));
}

.bg-default { background-color: var(--colors-background-default); }
