 /* Primitives variables  */
 :root {
    --spacing-0-25x: 0.125rem;
    --spacing-0-5x: 0.25rem;
    --spacing-0-75x: 0.375rem;
    --spacing-1x: 0.5rem;
    --spacing-1-5x: 0.75rem;
    --spacing-2x: 1rem;
    --spacing-3x: 1.5rem;
    --spacing-4x: 2rem;
    --spacing-5x: 2.5rem;
    --spacing-6x: 3rem;
    --spacing-7x: 3.5rem;
    --spacing-8x: 4rem;
    --spacing-9x: 4.5rem;
    --spacing-12x: 6rem;
    --spacing-15x: 7.5rem;
    --radius-xs: 0.25rem;
    --radius-sm: 0.5rem;
    --radius-md: 1rem;
    --radius-lg: 1.5rem;
    --colors-mulberry-mulberry-1: #FBEEF6FF;
    --colors-mulberry-mulberry-2: #F5D6EAFF;
    --colors-mulberry-mulberry-3: #EDB5DAFF;
    --colors-mulberry-mulberry-4: #E593C9FF;
    --colors-mulberry-mulberry-5: #DD72B8FF;
    --colors-mulberry-mulberry-6: #D553A9FF;
    --colors-mulberry-mulberry-7: #B54790FF;
    --colors-mulberry-mulberry-8: #973B78FF;
    --colors-mulberry-mulberry-9: #792F60FF;
    --colors-mulberry-mulberry-10: #60254CFF;
    --colors-lavender-indigo-lavender-indigo-1: #F4EEFBFF;
    --colors-lavender-indigo-lavender-indigo-2: #E5D5F5FF;
    --colors-lavender-indigo-lavender-indigo-3: #D1B5EDFF;
    --colors-lavender-indigo-lavender-indigo-4: #BB92E5FF;
    --colors-lavender-indigo-lavender-indigo-5: #A671DDFF;
    --colors-lavender-indigo-lavender-indigo-6: #9352D5FF;
    --colors-lavender-indigo-lavender-indigo-7: #7D46B5FF;
    --colors-lavender-indigo-lavender-indigo-8: #683A97FF;
    --colors-lavender-indigo-lavender-indigo-9: #542F79FF;
    --colors-lavender-indigo-lavender-indigo-10: #422560FF;
    --colors-han-blue-han-blue-1: #EDF0FAFF;
    --colors-han-blue-han-blue-2: #D4DBF4FF;
    --colors-han-blue-han-blue-3: #B1BFEBFF;
    --colors-han-blue-han-blue-4: #8DA1E2FF;
    --colors-han-blue-han-blue-5: #6B85D9FF;
    --colors-han-blue-han-blue-6: #4A6AD1FF;
    --colors-han-blue-han-blue-7: #3F5AB2FF;
    --colors-han-blue-han-blue-8: #354B94FF;
    --colors-han-blue-han-blue-9: #2A3C77FF;
    --colors-han-blue-han-blue-10: #21305EFF;
    --colors-celestial-blue-celestial-blue-1: #ECF5F9FF;
    --colors-celestial-blue-celestial-blue-2: #D2E6F1FF;
    --colors-celestial-blue-celestial-blue-3: #AED2E6FF;
    --colors-celestial-blue-celestial-blue-4: #88BDDBFF;
    --colors-celestial-blue-celestial-blue-5: #64A9D0FF;
    --colors-celestial-blue-celestial-blue-6: #4296C6FF;
    --colors-celestial-blue-celestial-blue-7: #3880A8FF;
    --colors-celestial-blue-celestial-blue-8: #2F6B8DFF;
    --colors-celestial-blue-celestial-blue-9: #265671FF;
    --colors-celestial-blue-celestial-blue-10: #1E4459FF;
    --colors-verdigris-verdigris-1: #ECF7F7FF;
    --colors-verdigris-verdigris-2: #D1EBECFF;
    --colors-verdigris-verdigris-3: #ADDADDFF;
    --colors-verdigris-verdigris-4: #87C9CEFF;
    --colors-verdigris-verdigris-5: #62B9BFFF;
    --colors-verdigris-verdigris-6: #40AAB1FF;
    --colors-verdigris-verdigris-7: #369196FF;
    --colors-verdigris-verdigris-8: #2D797EFF;
    --colors-verdigris-verdigris-9: #246165FF;
    --colors-verdigris-verdigris-10: #1D4C50FF;
    --colors-mint-mint-1: #ECF9F2FF;
    --colors-mint-mint-2: #D0EFE1FF;
    --colors-mint-mint-3: #ABE3C8FF;
    --colors-mint-mint-4: #84D6AFFF;
    --colors-mint-mint-5: #5FCA97FF;
    --colors-mint-mint-6: #3CBE80FF;
    --colors-mint-mint-7: #33A26DFF;
    --colors-mint-mint-8: #2B875BFF;
    --colors-mint-mint-9: #226C49FF;
    --colors-mint-mint-10: #1B553AFF;
    --colors-apple-apple-1: #EEF9ECFF;
    --colors-apple-apple-2: #D6F2D2FF;
    --colors-apple-apple-3: #B6E7AEFF;
    --colors-apple-apple-4: #95DC88FF;
    --colors-apple-apple-5: #74D164FF;
    --colors-apple-apple-6: #56C742FF;
    --colors-apple-apple-7: #49A938FF;
    --colors-apple-apple-8: #3D8D2FFF;
    --colors-apple-apple-9: #317126FF;
    --colors-apple-apple-10: #275A1EFF;
    --colors-june-bud-june-bud-1: #F8F9EDFF;
    --colors-june-bud-june-bud-2: #EFF2D3FF;
    --colors-june-bud-june-bud-3: #E2E7AFFF;
    --colors-june-bud-june-bud-4: #D4DC8AFF;
    --colors-june-bud-june-bud-5: #C7D167FF;
    --colors-june-bud-june-bud-6: #BBC746FF;
    --colors-june-bud-june-bud-7: #9FA93CFF;
    --colors-june-bud-june-bud-8: #858D32FF;
    --colors-june-bud-june-bud-9: #6B7128FF;
    --colors-june-bud-june-bud-10: #545A1FFF;
    --colors-sandstorm-sandstorm-1: #FCFAEDFF;
    --colors-sandstorm-sandstorm-2: #F9F4D3FF;
    --colors-sandstorm-sandstorm-3: #F4EBB0FF;
    --colors-sandstorm-sandstorm-4: #EFE28CFF;
    --colors-sandstorm-sandstorm-5: #EAD969FF;
    --colors-sandstorm-sandstorm-6: #E5D148FF;
    --colors-sandstorm-sandstorm-7: #C3B23DFF;
    --colors-sandstorm-sandstorm-8: #A39433FF;
    --colors-sandstorm-sandstorm-9: #837729FF;
    --colors-sandstorm-sandstorm-10: #675E20FF;
    --colors-maize-maize-5: #F7CD62FF;
    --colors-maize-maize-6: #F5C23FFF;
    --colors-maize-maize-7: #D0A536FF;
    --colors-maize-maize-8: #AE8A2DFF;
    --colors-maize-maize-9: #8C6F24FF;
    --colors-maize-maize-10: #6E571CFF;
    --colors-maize-maize-1: #FEF9ECFF;
    --colors-maize-maize-2: #FDF0D1FF;
    --colors-maize-maize-3: #FBE5ACFF;
    --colors-maize-maize-4: #F9D986FF;
    --colors-metallic-gold-metallic-gold-1: #FBF6ECFF;
    --colors-metallic-gold-metallic-gold-2: #F6E9D2FF;
    --colors-metallic-gold-metallic-gold-3: #EED8AEFF;
    --colors-metallic-gold-metallic-gold-4: #E6C688FF;
    --colors-metallic-gold-metallic-gold-5: #DFB564FF;
    --colors-metallic-gold-metallic-gold-6: #D8A542FF;
    --colors-metallic-gold-metallic-gold-7: #B88C38FF;
    --colors-metallic-gold-metallic-gold-8: #99752FFF;
    --colors-metallic-gold-metallic-gold-9: #7B5E26FF;
    --colors-metallic-gold-metallic-gold-10: #614A1EFF;
    --colors-jasper-orange-jasper-orange-1: #FCF4EDFF;
    --colors-jasper-orange-jasper-orange-2: #F7E4D3FF;
    --colors-jasper-orange-jasper-orange-3: #F0CFAFFF;
    --colors-jasper-orange-jasper-orange-4: #EAB88AFF;
    --colors-jasper-orange-jasper-orange-5: #E3A367FF;
    --colors-jasper-orange-jasper-orange-6: #DD8F46FF;
    --colors-jasper-orange-jasper-orange-7: #BC7A3CFF;
    --colors-jasper-orange-jasper-orange-8: #9D6632FF;
    --colors-jasper-orange-jasper-orange-9: #7E5228FF;
    --colors-jasper-orange-jasper-orange-10: #63401FFF;
    --colors-cedar-chest-cedar-chest-1: #F9EFECFF;
    --colors-cedar-chest-cedar-chest-2: #F1D8D2FF;
    --colors-cedar-chest-cedar-chest-3: #E6B8AEFF;
    --colors-cedar-chest-cedar-chest-4: #DB9889FF;
    --colors-cedar-chest-cedar-chest-5: #D07965FF;
    --colors-cedar-chest-cedar-chest-6: #C65B43FF;
    --colors-cedar-chest-cedar-chest-7: #A84D39FF;
    --colors-cedar-chest-cedar-chest-8: #8D4130FF;
    --colors-cedar-chest-cedar-chest-9: #713426FF;
    --colors-cedar-chest-cedar-chest-10: #59291EFF;
    --colors-watermelon-red-watermelon-red-1: #FAECECFF;
    --colors-watermelon-red-watermelon-red-2: #F2D1D1FF;
    --colors-watermelon-red-watermelon-red-3: #E8ADADFF;
    --colors-watermelon-red-watermelon-red-4: #DE8787FF;
    --colors-watermelon-red-watermelon-red-5: #D46262FF;
    --colors-watermelon-red-watermelon-red-6: #CA4040FF;
    --colors-watermelon-red-watermelon-red-7: #AC3636FF;
    --colors-watermelon-red-watermelon-red-8: #8F2D2DFF;
    --colors-watermelon-red-watermelon-red-9: #732424FF;
    --colors-watermelon-red-watermelon-red-10: #5B1D1DFF;
    --colors-neutral-neutral-1: #FFFFFFFF;
    --colors-neutral-neutral-2: #FDFDFDFF;
    --colors-neutral-neutral-3: #F6F6F7FF;
    --colors-neutral-neutral-4: #F1F1F3FF;
    --colors-neutral-neutral-5: #DCDDE0FF;
    --colors-neutral-neutral-6: #C5C7CCFF;
    --colors-neutral-neutral-7: #9699A3FF;
    --colors-neutral-neutral-8: #676C7AFF;
    --colors-neutral-neutral-9: #545A69FF;
    --colors-neutral-neutral-10: #383F51FF;
    --colors-neutral-neutral-11: #31384BFF;
    --colors-neutral-neutral-12: #282F42FF;
    --colors-neutral-neutral-13: #151D32FF;

    --dark-blue: #262E42;
    --green: #8BA94A;
    --white: #FBFBFB;

    --round: 50%;

    --body-vertical-padding: var(--spacing-3x);
    --top-bar-padding: var(--spacing-3x);
    --button-sm-height: var(--spacing-5x);
    --button-border-thickness: var(--spacing-0-25x);

    --widget-animation: .1s;
    --widget-animation-slow: .5s;
}

@media (min-width: 744px) {
    :root {
        --body-vertical-padding: var(--spacing-7x);
    }
}
